<div class="container-fluid full-screen-bg" >    
    <form class="inner-container d-flex align-items-center">
        <div class="mb-3 title-container">
            <div class="title">Inicio Sesión</div> 
        </div>
        <div class="mb-3 inputs">
            <div class="mb-3 input-container">
                <label for="exampleInputEmail1" class="form-label email">Email</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3 input-container">
                <label for="exampleInputPassword1" class="form-label password">Contraseña</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
        </div>
        <button type="submit" class="btn login-button-container">Entrar</button>
    </form>
</div>